<div id="<%= dom_id vehicle %>">
  <p>
    <%= icon('fa-solid', 'shopping-cart') %>
    <strong>Vehicle number:</strong>
    <%= vehicle.unit_number %>
  </p>

  <p>
    <%= icon('fa-solid', 'calculator') %>
    <strong>vehicle plate number:</strong>
    <%= vehicle.plate_number %>
  </p>

  <p>
    <%= icon('fa-regular', 'user') %>
    <strong>Vehicle VIN number:</strong>
    <%= vehicle.vin_number %>
  </p>

</div>